{% extends "../templates/zone/zone_layout.html" %}</br>

{% block content %} {% for v in data['collections'] %}
<div class="card box" style="float: left;width: 350px; height: 350px;  margin: 2rem;">
    <img class="card-img-top" src="{{ v['img_path'] }}" alt="Card image cap" style="width: 330px;height: 230px; border-radius:10px;margin: 1rem;">
    <div class="card-body">
        <h5 class="card-title">标题:{{ v['name'] }}</h5>
        <p class="card-text">内容:{{ v['info'] }}
            <a href="/data/detail?_id={{ v['_id'] }}" class="card-link">详细信息</a></p>

    </div>
</div>
{% end %} </br>

{% end %}