{% extends "../templates/zone/zone_layout.html" %}</br>

<!-- 将增加按钮添加在页面上 -->
{% block for_id %}</br>
<div class="center_">
    <a id="add_some" href="/data/upload/" class="btn-primary btn-lg"><i class="glyphicon">新增数据</i></a> </br>
</div>
{% end %}</br>

<!-- 这是显示已经添置的内容 -->
{% block content %} </br>
{% for v in data['collections'] %}
<div class="card box" style="float: left;width: 350px; height: 350px;  margin: 2rem;">
    <img class="card-img-top" src="{{ v['img_path'] }}" alt="Card image cap" style="width: 330px;height: 230px; border-radius:10px;margin: 1rem;">
    <div class="card-body">
        <h5 class="card-title">标题:{{ v['name'] }}</h5>
        <p class="card-text">内容:{{ v['info'] }}
            <a href="/data/detail?_id={{ v['_id'] }}" class="card-link">详细信息</a></p>

    </div>
</div>
{% end %} </br>

{% end %}